flycheckin/reservation/src/ressources/DATA/XSD/BookingPassengers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookingPassengers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bookingNumber">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="passenger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="passengerHash"/>
                    <xs:element name="seatClass">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="economic"/>
                          <xs:enumeration value="business"/>
                          <xs:enumeration value="premium"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="seatNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[A-Z]{1}-[0-9]+"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>